:root {
  /* Базовая палитра */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black-darkest: #101010;
  --vt-c-black: #181818;
  --vt-c-black-soft: #41414133;
  --vt-c-black-mute: #27272733;

  --vt-c-indigo: #2c3e50;
  --yellow: #ffcd4b;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --hover-blue-dark: #0056b3;
  --hover-blue-light: #3a99ff;

  --border-radius-8: 8px;
  --section-gap: 160px;

  /* Темная тема по умолчанию */
  --color-background: var(--vt-c-black);
  --color-background-darkest: var(--vt-c-black-darkest);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-text: var(--vt-c-text-dark-1);
  --color-text-mute: var(--vt-c-text-dark-2);

  --color-button-hover: var(--hover-blue-dark);
}

/* Светлая тема при наличии класса light-mode */
.light-mode {
  --color-background: var(--vt-c-white);
  --color-background-darkest: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-text: var(--vt-c-text-light-1);
  --color-text-mute: var(--vt-c-text-light-2);

  --color-button-hover: var(--hover-blue-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body,
html,
#app {
  width: 100%;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.3s ease-in-out;
  line-height: 1.6;
  font-family: 'Albert_Sans';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-Regular';
  font-weight: 400;
  src: url('./fonts/Jost/static/Jost-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-SemiBold';
  /* font-weight: 400; */
  src: url('./fonts/Jost/static/Jost-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Albert_Sans';
  /* font-weight: 400; */
  src: url('./fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Bruno_Ace';
  /* font-weight: 400; */
  src: url('./fonts/Bruno_Ace/BrunoAce-Regular.ttf') format('truetype');
}
